* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.primary {
    background-color: #008CBA;
}

.danger {
    background-color: #f44336;
}