.logDetailsContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}